# Data Science Academy

### Fundamentos de Linguagem Python para Análise de Dados e Data Science

### Introdução à Programação Orientada a Objetos

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook: ', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook:  3.9.13

### Objetos
Em Python, tudo é objeto!

In [2]:
# Criando uma lista
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [3]:
# A lista lst_num é um objeto, uma instância da classe lista em Python
type(lst_num)

list

In [4]:
print(type([]))

<class 'list'>

In [5]:
lst_num.count(10)

2

In [6]:
# Usando a função type para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [7]:
# Criando um novo tipo de objeto chamado Carro
class Carro(object):
    pass

In [8]:
# Instância do Carro
ferrari = Carro()

In [9]:
print(type(ferrari))

<class '__main__.Carro'>

In [10]:
# Criando uma classe
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [11]:
# Criando um objeto chamado estudante1 a patir da classe estudantes
estudante1 = Estudantes("Bob", 12, 9.5)

In [13]:
# Atributo da classe Estudante utilizado por cada objeto criado a partir dessa classe
estudante1.nome

12

In [14]:
estudante1.idade

12

In [15]:
estudante1.nota

9.5

In [16]:
# Criando uma classe
class Funcionarios:
    
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
        
    def listFunc(self):
        print("Funcionário(a) " + self.nome + " tem salário de R$" + str(self.salario) + " e o cargo é " + self.cargo)

In [17]:
# Criazndo um objeto chamado func1 a partir da classe Funcionarios
func1 = Funcionarios("Mary", 2000, "Cientista de Dados")

In [18]:
# Utilizando o método da classe
func1.listFunc()

Funcionário(a) Mary tem salário de R$2000 e o cargo é Cientista de Dados

In [19]:
print("**** Usando atributos ****")

**** Usando atributos ****

In [20]:
hasattr(func1, "nome")

True

In [21]:
hasattr(func1, "salario")

True

In [23]:
setattr(func1, "salario", 4500)

In [24]:
hasattr(func1, "salario")

True

In [25]:
getattr(func1, "salario")

4500

In [26]:
delattr(func1, "salario")

In [27]:
hasattr(func1, "salario")

False

# Fim